body{
    overflow: hidden;
    background-color: gray;
    background-image: url(/image/2269580.jpg);
    background-size:100%;
    background-repeat:no-repeat; 
}
h1{
    font-family: 'Lobster', cursive;
    text-align: center;
}
.wallp{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(black);
}
.container{
    width: 300px;
    background-color: rgba(197, 39, 28, 0.87);
    padding: 20px;
    border-radius:10px;
    font-family: Arial, Helvetica, sans-serif;
    
}
input{
    width: 100%;
    display: block;
    padding:5px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 8px 0 8px 0;
    text-align: center;
}
button{
    border-radius: 5px;
    width: 100px ;
    height: 30px;
    font-weight: bold;
    position: relative; left: 100px;
}
#resultado1{
    box-sizing: border-box;
    align-items: center;
    font-family: 'Lobster', cursive;
    font-size: 20px;
    
}
#resultado2{
    box-sizing: border-box;
    align-items: center;
    font-family: 'Lobster', cursive;
    font-size: 20px;
    
}
#resultado3{
    box-sizing: border-box;
    align-items: center;
    font-family: 'Lobster', cursive;
    font-size: 20px;
    
}
@media(max-width:1370px){
    .container{
        width: 300px;
        background-color: rgba(197, 39, 28, 0.87);
        padding: 20px;
        border-radius:10px;
        font-family: Arial, Helvetica, sans-serif;}

    body{
            background-color: gray;
            background-image: url(/image/2269580.jpg);
            background-size: 1400pt ;
}